<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_62506cbdf59ddd486008dca0f3055a58 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_62506cbdf59ddd486008dca0f3055a58" ></div>
        
</body>
<script>
    
    
            var map_62506cbdf59ddd486008dca0f3055a58 = L.map(
                "map_62506cbdf59ddd486008dca0f3055a58",
                {
                    center: [12.940572278195745, 77.64792857009795],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 12,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_aa5f3feac3a8c9815d3bacaa38a93c79 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_aa5f3feac3a8c9815d3bacaa38a93c79.addTo(map_62506cbdf59ddd486008dca0f3055a58);
        
    
            var marker_8e4f19c8645e65f739be1b2142f7cede = L.marker(
                [12.9697203924217, 77.74992950885614],
                {
}
            ).addTo(map_62506cbdf59ddd486008dca0f3055a58);
        
    
            var icon_498fdd05217035d84c50e9eb448bf580 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_1835b9caf3b895b1080d736eca0c3467 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_dd9362332f4ac450da6d917fc3930420 = $(`<div id="html_dd9362332f4ac450da6d917fc3930420" style="width: 100.0%; height: 100.0%;">Recommended Patrol Base</div>`)[0];
                popup_1835b9caf3b895b1080d736eca0c3467.setContent(html_dd9362332f4ac450da6d917fc3930420);
            
        

        marker_8e4f19c8645e65f739be1b2142f7cede.bindPopup(popup_1835b9caf3b895b1080d736eca0c3467)
        ;

        
    
    
                marker_8e4f19c8645e65f739be1b2142f7cede.setIcon(icon_498fdd05217035d84c50e9eb448bf580);
            
    
            var marker_46006e7cc68310c084971653dd11677d = L.marker(
                [12.9350151933891, 77.6246192188688],
                {
}
            ).addTo(map_62506cbdf59ddd486008dca0f3055a58);
        
    
            var icon_7f3a22d41f273d65c2e40dc9481286d3 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_6bf97b140a7995fd374381ff2262e6f2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_88ce59b3623295855ae3fb1cd3dc4112 = $(`<div id="html_88ce59b3623295855ae3fb1cd3dc4112" style="width: 100.0%; height: 100.0%;">Recommended Patrol Base</div>`)[0];
                popup_6bf97b140a7995fd374381ff2262e6f2.setContent(html_88ce59b3623295855ae3fb1cd3dc4112);
            
        

        marker_46006e7cc68310c084971653dd11677d.bindPopup(popup_6bf97b140a7995fd374381ff2262e6f2)
        ;

        
    
    
                marker_46006e7cc68310c084971653dd11677d.setIcon(icon_7f3a22d41f273d65c2e40dc9481286d3);
            
    
            var marker_33fe2a7fa7ce16712a2dc7d470a66ef4 = L.marker(
                [12.845618565235458, 77.66043020726222],
                {
}
            ).addTo(map_62506cbdf59ddd486008dca0f3055a58);
        
    
            var icon_91560660a85502e20a5b21ba7d9f7acb = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_b6fdeb15145c05f4fc60bcbb5822c21a = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_4932542e6b6c823f2da3f0d5596fa4fc = $(`<div id="html_4932542e6b6c823f2da3f0d5596fa4fc" style="width: 100.0%; height: 100.0%;">Recommended Patrol Base</div>`)[0];
                popup_b6fdeb15145c05f4fc60bcbb5822c21a.setContent(html_4932542e6b6c823f2da3f0d5596fa4fc);
            
        

        marker_33fe2a7fa7ce16712a2dc7d470a66ef4.bindPopup(popup_b6fdeb15145c05f4fc60bcbb5822c21a)
        ;

        
    
    
                marker_33fe2a7fa7ce16712a2dc7d470a66ef4.setIcon(icon_91560660a85502e20a5b21ba7d9f7acb);
            
    
            var marker_1c708bfb00d3687530cdc5abc51f0622 = L.marker(
                [12.976393258498732, 77.57153032502687],
                {
}
            ).addTo(map_62506cbdf59ddd486008dca0f3055a58);
        
    
            var icon_12a2ba388e0813709580c68df7e0bf35 = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_a6f265b3e78020a5619b6c15dab4fc69 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1eb0871101dc6375ea074a86c2a0e8d1 = $(`<div id="html_1eb0871101dc6375ea074a86c2a0e8d1" style="width: 100.0%; height: 100.0%;">Recommended Patrol Base</div>`)[0];
                popup_a6f265b3e78020a5619b6c15dab4fc69.setContent(html_1eb0871101dc6375ea074a86c2a0e8d1);
            
        

        marker_1c708bfb00d3687530cdc5abc51f0622.bindPopup(popup_a6f265b3e78020a5619b6c15dab4fc69)
        ;

        
    
    
                marker_1c708bfb00d3687530cdc5abc51f0622.setIcon(icon_12a2ba388e0813709580c68df7e0bf35);
            
    
            var marker_28678c76dfc2ea90f8fb9f6f2e55d219 = L.marker(
                [12.972188266383464, 77.64114578656275],
                {
}
            ).addTo(map_62506cbdf59ddd486008dca0f3055a58);
        
    
            var icon_97d03157e86030a724465320345c466c = L.AwesomeMarkers.icon(
                {
  "markerColor": "red",
  "iconColor": "white",
  "icon": "info-sign",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_51a5cc82a14cd21558f40e9e418fcdec = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_71e2cc30dc062987f4e83481c765c227 = $(`<div id="html_71e2cc30dc062987f4e83481c765c227" style="width: 100.0%; height: 100.0%;">Recommended Patrol Base</div>`)[0];
                popup_51a5cc82a14cd21558f40e9e418fcdec.setContent(html_71e2cc30dc062987f4e83481c765c227);
            
        

        marker_28678c76dfc2ea90f8fb9f6f2e55d219.bindPopup(popup_51a5cc82a14cd21558f40e9e418fcdec)
        ;

        
    
    
                marker_28678c76dfc2ea90f8fb9f6f2e55d219.setIcon(icon_97d03157e86030a724465320345c466c);
            
</script>
</html>